.container.footer-border
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.footer-bar
				li
					a(href="index.html") HOME
				li
					a(href="#") SERVICE
				li
					a(href="#") ABOUT US
				li
					a(href="#") PRICING TABLE
				li
					a(href="#") HOW IT WORKS
				li
					a(href="#") HAPPY CLIENTS
				li.hidden-sm.hidden-xs
					a(href="#") CONTACT US
			p.phone-number +999 9999 9999
			ul.social-net
				li
					a(href="#")<i class="fa fa-twitter"></i>
				li
					a(href="#")<i class="fa fa-facebook"></i>
				li
					a(href="#")<i class="fa fa-google-plus"></i>
				li
					a(href="#")<i class="fa fa-linkedin"></i>
