.container.footer-border
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			ul.footer-bar
				li
					a(href="#") HOME
				li
					a.navbut-service(href="#") SERVICE
				li
					a.navbut-about-us(href="#") ABOUT US
				li
					a.navbut-pricing-table(href="#") PRICING TABLE
				li
					a.navbut-how-it(href="#") HOW IT WORKS
				li
					a.navbut-happy-clients(href="#") HAPPY CLIENTS
				li.hidden-sm.hidden-xs
					a.navbut-contact-us(href="#") CONTACT US
			p.phone-number +999 9999 9999
			ul.social-net
				li
					a(href="#")<i class="fa fa-twitter"></i>
				li
					a(href="#")<i class="fa fa-facebook"></i>
				li
					a(href="#")<i class="fa fa-google-plus"></i>
				li
					a(href="#")<i class="fa fa-linkedin"></i>
