.row
	.col-xs-2.col-sm-2.col-md-1.col-lg-1
		a(href="index.html")
			img(src="img/logotype.png")
	.col-xs-10.col-sm-10.col-md-11.col-lg-11
		nav.nav.default-navbar
			button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			.navbar-collapse.collapse#menu
				ul.nav-menu.nav.navbar-nav
					li
						a(href="#") HOME
					li
						a.navbut-service(href="#") SERVICE
					li
						a.navbut-about-us(href="#") ABOUT US
					li
						a.navbut-pricing-table(href="#") PRICING TABLE
					li
						a.navbut-how-it(href="#") HOW IT WORKS
					li.hidden-sm
						a.navbut-happy-clients(href="#") HAPPY CLIENTS
					li.hidden-sm.hidden-xs
						a.navbut-contact-us(href="#") CONTACT US