include utils/head
body
	.container.header-container
		include utils/header
	.boost-up
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.boost-up-head BOOST UP YOUR LOCAL BUSINES
					P.bust-up-prph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum typesetting
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.row
						.col-xs-12.col-sm-4.col-md-3.col-lg-3
							input.user-data(type="text" placeholder="Full Name")
						.col-xs-12.col-sm-4.col-md-3.col-lg-3.padding-left-0
							input.user-data(type="text" placeholder="Email Address")
						.col-xs-12.col-sm-4.col-md-3.col-lg-3.padding-left-0
							input.user-data(type="text" placeholder="Phone Number")
						.col-xs-12.col-sm-12.col-md-3.col-lg-3.padding-left-0
							a.request-quote(href="#")
								|REQUEST A QUOTE
					.testing.hidden-xs
						.slick-screen
							img(src="img/screen.png")
							.laptop-wrap
								.laptop-slicker
									img(src="img/people-pub.png")
									img(src="img/people-pub.png")
									img(src="img/people-pub.png")
	.container.margin-bottom-12
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.margin-bottom-7.header-style
					|OUR SERVICE<br />
					|<span>Lorem ipsum dolor sit amet, consectetur</span>
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.block-information
					.block-information-img
						img(src="img/clock.png")
					h4 FIRST HEADER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
				.block-information
					.block-information-img
						img(src="img/study-hat.png")
					h4 SECOND HEADER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
				.block-information
					.block-information-img
						img(src="img/some-sign.png")
					h4 ANOTHER HEADER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
				.block-information
					.block-information-img
						img(src="img/gear.png")
					h4 THERE HEADER AGAIN
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
				.block-information
					.block-information-img
						img(src="img/rocket-ship.png")
					h4 AND THERE HEADER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
				.block-information
					.block-information-img
						img(src="img/dolour.png")
					h4 LAST HEADER
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem.
	.container-fluid.two-big-div
		.row
			.col-xs-12.col-sm-12.col-md-6.col-lg-6.work-place
					img(src="img/workplace.png")
			.col-xs-12.col-sm-12.col-md-6.col-lg-6.about-us-col
				.about-us-div
					h1.about-us-h ABOUT US
					p.about-us-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus.
				a.read-more(href="#") READ MORE
	.gray-cont
		.container
			.row.overflow-hidden
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.header-style.margin-bottom-7
						|CHOOSE YOUR PRISE<br />
						|<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.suggesting-prices
						h2 BASIC PLAN
						p.price-itself
							|<span>22</span><br />
							|PER MONTH
						.suggestion
							p 4 ACCOUNT
							p 50MB STORAGE
							p CUSTOM CLOUD SERVICE
						a(href="#").start-button GET STARTED
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.suggesting-prices
						h2 BASIC PLAN
						p.price-itself
							|<span>22</span><br />
							|PER MONTH
						.suggestion
							p 7 ACCOUNT
							p 100MB STORAGE
							p CUSTOM CLOUD SERVICE
						a(href="#").start-button GET STARTED
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.suggesting-prices
						h2 BASIC PLAN
						p.price-itself
							|<span>22</span><br />
							|PER MONTH
						.suggestion
							p 9 ACCOUNT
							p 150MB STORAGE
							p CUSTOM CLOUD SERVICE
						a(href="#").start-button GET STARTED
	.container.margin-bottom-15
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.header-style.margin-bottom-10
					|HOW IT WORKS<br />
					|<span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.steps
					.service-steps.upper-arrow
						img(src="img/headphones.png")
						h3 STEP 1
						p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet.
					.service-steps.lower-arrow
						img(src="img/locker.png")
						h3 STEP 2
						p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet.
					.service-steps.upper-arrow
						img(src="img/cloud.png")
						h3 STEP 3
						p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet.
					.service-steps
						img(src="img/headphones.png")
						h3 STEP 4
						p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet.
				a.service-button(href="#") GET START NOW
	.orange-cont
		.container
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.header-style.color-white
					|CHOOSE YOUR PRISE<br />
					|<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				.happy-clients
					.clients-img
						img(src="")
					.clients-p
						p.client-quotation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p.client-name
							|<span>NAME SURNAME,</span> APPOINTMENT IN COMPANY
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				.happy-clients
					.clients-img
						img(src="")
					.clients-p
						p.client-quotation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p.client-name
							|<span>NAME SURNAME,</span> APPOINTMENT IN COMPANY
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				.happy-clients
					.clients-img
						img(src="")
					.clients-p
						p.client-quotation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p.client-name
							|<span>NAME SURNAME,</span> APPOINTMENT IN COMPANY
			.col-xs-12.col-sm-12.col-md-12.col-lg-6
				.happy-clients
					.clients-img
						img(src="")
					.clients-p
						p.client-quotation Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor nulla, laoreet nec interdum sit amet, laoreet porta lorem. Ut ac quam rhoncus, tincidunt leo vitae, euismod mi. Morbi mattis tempus convallis. Integer cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p.client-name
							|<span>NAME SURNAME,</span> APPOINTMENT IN COMPANY
	.container.margin-bottom-13_5
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h1.header-style.margin-bottom-5
					|NEWSLETTER<br />
					|<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
			.col-xs-12.col-sm-6.col-md-4.col-lg-4
				input.user-data.inputs-border(type="text" placeholder="Name")
			.col-xs-12.col-sm-6.col-md-5.col-lg-5.padding-left-0
				input.user-data.inputs-border(type="text" placeholder="Email Address")
			.col-xs-12.col-sm-12.col-md-3.col-lg-3.padding-left-0
				a.subscribe-button(href="#") SUBSCRIBE NOW
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.hidden-sm.hidden-xs
				.background-map
					.address
						h5 ADDRESS
						p
							|Busines street<br />
							|Second north section<br />
							|Bavani nagar. 88769<br />
							|Call: +987-9976-999<br />
							|<span>info@businessface.com</span><br />
					img.map-pointer(src="img/logotype.png")
	include utils/footer