@font-face
	font-family Gotham-Black
	src url(../fonts/Montserrat-Bold.ttf) format('truetype')
	src local('☺'),
	url(../fonts/Montserrat-Bold.ttf) format('truetype')

@font-face
	font-family OpenSans-Regular
	src url(../fonts/OpenSans-Regular.ttf) format('truetype')
	src local('☺'),
	url(../fonts/OpenSans-Regular.ttf) format('truetype'),
	url(../fonts/OpenSansRegular.eot) format('embedded-opentype'),
	url(../fonts/OpenSansRegular.woff) format('woff')

@font-face
	font-family OpenSans-Light
	src url(../fonts/OpenSans-Light.ttf) forma('truetype')
	src local('☺'),
	url(../fonts/OpenSans-Light.ttf) format('truetype'),
	url(../fonts/OpenSansLight.eot) foramt('embedded-opentype'),
	url(../fonts/OpenSansLight.woff) format('woff')

@font-face
	font-family Lato-Regular
	src url(../fonts/Lato-Regular.ttf) format('truetype')
	src local('☺'),
	url(../fonts/Lato-Regular.ttf) format('truetype'),
	url(../fonts/LatoRegular.eot) foramt('embedded-opentype'),
	url(../fonts/LatoRegular.woff) format('woff')

@font-face
	font-family Lato-Bold
	src url(../fonts/Lato-Bold.ttf) format('truetype')
	src local('☺'),
	url(../fonts/Lato-Bold.ttf) format('truetype'),
	url(../fonts/LatoBold.eot) foramt('embedded-opentype'),
	url(../fonts/LatoBold.woff) format('woff')

@font-face
	font-family Lato-Light
	src url(../fonts/Lato-Light.ttf) format('truetype')
	src local('☺'),
	url(../fonts/Lato-Light.ttf) format('truetype'),
	url(../fonts/LatoLight.eot) foramt('embedded-opentype')
	url(../fonts/LatoLight.woff) format('woff')
	
@font-face
	font-family slick
	src url(libs/slick-master/slick/fonts/slick.ttf) format('truetype')
	src loca('☺'),
	url(libs/slick-master/slick/fonts/slick.eot) format('embedded-opentype'),
	url(libs/slick-master/slick/fonts/slick.ttf) format('truetype'),
	url(libs/slick-master/slick/fonts/slick.woff) format('woff')

@font-face
	font-family FontAwesome
	src url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.ttf) format('truetype')
	src local('☺'),
	url(libs/slick-master/slick/fonts/slick.eot) format('embedded-opentype'),
	url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.ttf) format('truetype'),
	url(libs/font-awesome-4.3.0/fonts/fontawesome-webfont.woff) format('woff')